<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Заказы автомобиля</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{{ path('admin.order-car') }}" class="btn btn-primary btn-sm ml-1" role="button" title="Список">
            <i class="fas fa-list"></i>
        </a>
    </div>
</div>