<div class="container">
    <div class="col-md-4">
            <button class="btn btn-primary color button-homepage-fastorder button-homepage-fastorder-click">
                Аэропорт Симферополь -  Алушта от 1350 руб
            </button>
            <button class="btn btn-primary color button-homepage-fastorder button-homepage-fastorder-click">
                Аэропорт Симферополь  - Ялта от 1450 руб
            </button>
    </div>
    <div class="col-md-4">
            <button class="btn btn-primary color button-homepage-fastorder button-homepage-fastorder-click">
                Аэропорт Симферополь - Севастополь от 1450 руб
            </button>
            <button class="btn btn-primary color button-homepage-fastorder button-homepage-fastorder-click">
                Аэропорт Симферополь - Евпатория от 1150 руб
            </button>
    </div>
    <div class="col-md-4">
            <button class="btn btn-primary color button-homepage-fastorder button-homepage-fastorder-click">
                Аэропорт Симферополь - Феодосия от 1750 руб
            </button>
            <button class="btn btn-primary color button-homepage-fastorder button-homepage-fastorder-click">
                Аэропорт Симферополь - Судак от 1650 руб
            </button>
    </div>
</div>
