<div class="container"><!-- container -->
    <div class="row"> <!-- outer row -->
        <div class="col-md-10 col-md-offset-1"> <!-- col 10 with offset 1 to centered -->
            <div class="row"> <!-- nested row -->

                <!-- contact detail using col 4 -->
                <div class="col-md-4">
                    <div class="contact-detail">
                        <i class="fa fa-map-marker"></i>
                        <h4>г. Севастополь ул. Кирова д. 12в к.13</h4> <!-- address -->
                        <h4>г. Сочи ул. Волжанина д.420 к.4</h4> <!-- address -->
                    </div>
                </div>
                <!-- contact detail using col 4 -->
                <div class="col-md-4">
                    <div class="contact-detail">
                        <i class="fa fa-envelope"></i>
                        <h4>rudhisasmito@gmail.com</h4><!-- email add -->
                    </div>
                </div>

                <!-- contact detail using col 4 -->
                <div class="col-md-4">
                    <div class="contact-detail">
                        <i class="fa fa-phone"></i>
                        <h4>+7 154 947 55 49</h4> <!-- phone no. -->
                        <h4>+7 484 159 87 43</h4> <!-- phone no. -->
                    </div>
                </div>

            </div> <!-- end nested row -->
        </div> <!-- end col 10 with offset 1 to centered -->
    </div><!-- end outer row -->

    <div class="row text-center"> <!-- contact form outer row with centered text-->
        <div class="col-md-10 col-md-offset-1"> <!-- col 10 with offset 1 to centered -->
            <form id="contact-form" class="form" name="sentMessage" novalidate> <!-- form wrapper -->

                <div class="row"> <!-- nested inner row -->

                    <!-- Input your name -->
                    <div class="col-md-4">
                        <div class="form-group"> <!-- Your name input -->
                            <input type="text" autocomplete="off" class="form-control" placeholder="Ваше имя *" id="name" required data-validation-required-message="Пожалуйста введите Ваше имя">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <!-- Input your email -->
                    <div class="col-md-4">
                        <div class="form-group"> <!-- Your email input -->
                            <input type="email" autocomplete="off" class="form-control" placeholder="Ваш e-mail *" id="email" required data-validation-required-message="Пожалуйста введите Ваш e-mail">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <!-- Input your Phone no. -->
                    <div class="col-md-4">
                        <div class="form-group"> <!-- Your email input -->
                            <input type="text" autocomplete="off" class="form-control" placeholder="Ваш номер телефона *" id="phone" required data-validation-required-message="Пожалуйста введите Ваш номер телефона">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                </div><!-- end nested inner row -->

                <!-- Message Text area -->
                <div class="form-group"> <!-- Your email input -->
                    <textarea class="form-control" rows="7" placeholder="Ваше сообщение..." id="message" required data-validation-required-message="Вы не ввели сообщение"></textarea>
                    <p class="help-block text-danger"></p>
                    <div id="success"></div>
                </div>
                <button type="submit" class="btn btn-primary tf-btn color">Отправить</button> <!-- Send button -->

            </form><!-- end form wrapper -->
        </div><!-- end col 10 with offset 1 to centered -->
    </div> <!-- end contact form outer row with centered text-->

</div><!-- end container -->