<div class="nivo-lightbox-overlay nivo-lightbox-overlay2 nivo-lightbox-theme-default nivo-lightbox-effect-slideDown nivo-lightbox-close">

            <div style="padding: 10% 0;">

                <div class="container"> <!-- container -->
                    <div class="section-header">
                        <h2>Заказать <span class="highlight"><strong>такси</strong></span></h2>
                        <h5><em id="modal-order-type-order">!</em></h5>
                    </div>
                </div><!-- end container -->

                <div class="container"><!-- container -->
                    <div class="row text-center"> <!-- contact form outer row with centered text-->
                        <div class="col-md-10 col-md-offset-1"> <!-- col 10 with offset 1 to centered -->
                            <form id="modal-order" class="form" novalidate> <!-- form wrapper -->

                                <div class="row">
                                    <div class="col-md-4 col-md-offset-1">
                                        <div class="form-group">
                                            <input type="text" autocomplete="off" class="form-control" placeholder="Ваше имя *" id="modal-order-name" required data-validation-required-message="Пожалуйста введите Ваше имя">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <!-- Input your Phone no. -->
                                    <div class="col-md-4">
                                        <div class="form-group"> <!-- Your email input -->
                                            <input type="text" autocomplete="off" class="form-control" placeholder="Ваш номер телефона *" id="modal-order-phone" required data-validation-required-message="Пожалуйста введите Ваш телефон">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>

                                    <!-- Input your Phone no. -->
                                    <div class="col-md-4" style="display: none">
                                        <div class="form-group"> <!-- Your email input -->
                                            <input type="text" autocomplete="off" class="form-control" id="modal-order-text" value="ТЕСТОВЫЙ">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-primary tf-btn color" id="btn-send-order">Заказать</button> <!-- Send button -->
                                    </div>

                                </div><!-- end nested inner row -->
                            </form><!-- end form wrapper -->
                        </div><!-- end col 10 with offset 1 to centered -->
                    </div> <!-- end contact form outer row with centered text-->
                </div>
            </div>


    <a href="#" class="nivo-lightbox-close black button-homepage-fastorder-click" style="color: #ffcc33;" title="Закрыть"><i class="fas fa-times fa-2x"></i></a>
</div>
