<div class="container">
    <div class="col-md-4 text-center">
        <img src="{{ asset('img/auto-classes/2.png') }}" alt="">
        <p>Эконом</p>
        <button class="btn btn-primary color">Заказать</button>
    </div>
    <div class="col-md-4 text-center">
        <img src="{{ asset('img/auto-classes/3.png') }}" alt="">
        <p>Комфорт</p>
        <button class="btn btn-primary color">Заказать</button>
    </div>
    <div class="col-md-4 text-center">
        <img src="{{ asset('img/auto-classes/4.png') }}" alt="">
        <p>Минивэн</p>
        <button class="btn btn-primary color">Заказать</button>
    </div>
</div>
