<div class="container">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="heading1"  data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    <h5 class="mb-0">
                        Как у Вас заказать такси?
                    </h5>
                </div>

                <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
                    <div class="card-body">
                        Такси можно заказать как по телефону +7(978)776-30-16, так и через онлайн
                        заявку «Вам перезвонить?» Классы Эконом, Комфорт и Минивэн также
                        доступны для заказа на сайте. Укажите контакты. После получения данных
                        мы свяжемся с Вами, чтобы подтвердить заказ и уточнить детали поездки.
                        Если Вы не нашли нужный маршрут, Вам нужен другой класс или
                        возникли вопросы по заказу, напишите или позвоните нам.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading2" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    <h5 class="mb-0">
                        За какое время нужно заказывать такси?
                    </h5>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                    <div class="card-body">
                        Чем раньше - тем лучше! У нас вы можете заказать машину заранее, мы
                        подберем подходящий автомобиль, установим детские кресла, отследим
                        рейс и встретим по прилету.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading3" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    <h5 class="mb-0">
                        Точно ли меня встретят в аэропорту Симферополя?
                    </h5>
                </div>
                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                    <div class="card-body">
                        Конечно, мы обязательно Вас встретим, не смотря на задержки рейсов или
                        длительное получение багажа. Ожидание в аэропорту — БЕСПЛАТНО. После
                        заказа трансфера из аэропорта Симферополь Вы получаете смс с полными
                        данными авто (марка, цвет, номер) и водителя, который Вас встречает.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading4" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    <h5 class="mb-0">
                        Как мне найти водителя в аэропорту?
                    </h5>
                </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                    <div class="card-body">
                        Есть 2 варианта встречи с водителем: с табличкой и по звонку.
                        При встрече с табличкой водитель будет ждать Вас на выходе из зоны
                        прилета. На табличке будет ваше имя. Водитель проводит до автомобиля и
                        поможет с багажом. В классе Эконом это платная опция, которая стоит 100р.
                        При встрече по звонку водитель свяжется с вами по прилету. Как только Вы
                        получите багаж, водитель подъедет и встретит Вас прямо возле
                        единственного выхода терминала «А».
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading5" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    <h5 class="mb-0">
                        Есть ли у Вас детские кресла, и входит ли оно в стоимость?
                    </h5>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                    <div class="card-body">
                        Да, у нас есть, детские кресла, люльки, бустеры. Укажите при заказе
                        количество детей и возраст детей. Для класса Комфорт и класса Минивэн
                        детское кресло у нас БЕСПЛАТНО. Для класса Эконом стоимость одного
                        кресла 100 руб.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading6" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    <h5 class="mb-0">
                        Не попросит ли водитель с меня какой-нибудь доплаты?
                    </h5>
                </div>
                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
                    <div class="card-body">
                        Нет, наши цены всегда фиксированные и известны заранее. Никаких доплат
                        не будет.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading7" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    <h5 class="mb-0">
                        Цены, указанные на сайте за машину или за пассажира?
                    </h5>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
                    <div class="card-body">
                        Все цены на сайте указаны за машину! У нас нет расчетов по счетчикам
                        километража, по времени в пути или по количеству багажа. Все цены
                        фиксированные.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading8" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    <h5 class="mb-0">
                        Водитель довезет нас до адреса?
                    </h5>
                </div>
                <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
                    <div class="card-body">
                        Да, это входит в стоимость поездки. Доплачивать не придется. Водитель
                        довезет Вас до указанного адреса.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading9" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                    <h5 class="mb-0">
                        Можно ли пассажиру курить в такси?
                    </h5>
                </div>
                <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
                    <div class="card-body">
                        Курения в автомобиле такси осуществляется по обоюдному согласию
                        водителя и пассажира, однако клиент может заранее заказать автомобиль, в
                        котором можно курить.
                    </div>
                </div>
            </div>
        </div>
</div>
