.sub-navbar {
  height: 44px;

  .sn-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    height: 44px;
    float: right; margin-right: 20px
  }
  .sn-but {

  }
}


.custom-tabs{
  display: flex;
  justify-content: center;
}

.tab-content {
  border-bottom: 1px solid #ddd;
  .table {
    margin-bottom: 0;
  }
}

ul[role='alert'] {
  padding: 0;
}