
.logo-span {
  height: 200px;
  @media (max-width: 576px) {
    height: auto;
  }
  & span {
    font-size: 32px;
    color: #ff0000;
    line-height: 180px;
    margin-left: 20px;

    @media (max-width: 576px) {
      line-height: 40px;
      margin-left: 0px;
    }
  }
}

span.sn-phone {
  font-size: 30px;
}

.head-float-left {
  float: left;
  text-align: center;
  @media (max-width: 576px) { float: none; }
}

.block-phone {
  height: 148px;

  @media (max-width: 970px) { height: auto; }
}


.custom-tabs{
  display: flex;
  justify-content: center;
}

.tab-content {
  border-bottom: 1px solid #ddd;
  .table {
    margin-bottom: 0;
  }
}

ul[role='alert'] {
  padding: 0;
}