.partner-block {
  display: flex;
  background: #fff;
  box-shadow: 0 0 12px #00000085;
  margin-bottom: 20px;
  height: 150px;
  & .partner-image {
    max-width: 200px;
    padding: 20px;
  }

  & .partner-content {
    flex: 1;
    position: relative;
  }
  & .partner-full {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px;
  }
}




.partner-page {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.48);
  padding: 1px 20px;
  & h2 {
    text-align: center;
  }

  & div.partner-picture-block {
    max-height: 300px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    & .partner-picture {
      width: 100%;
    }
  }

  & .partner-message {
    font-size: 16px;
  }

  & .partner-info {
    margin: 20px 0;
    font-size: 1.1em;
  }

}