<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Города</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{{ path('admin.city') }}" class="btn btn-primary btn-sm ml-1" role="button">
            <i class="fas fa-list"></i>
        </a>
        <a href="{{ path('admin.city.new') }}" class="btn btn-primary btn-sm ml-1">
            <i class="fas fa-plus"></i>
        </a>
    </div>
</div>