{% extends 'frontend/main.html.twig' %}

{% block content %}
<div id="tf-home">
    <div class="overlay">
        <div class="container">
            <div class="content-heading text-center">
                <h1>ТАКСИ ПО КРЫМУ</h1>
                <p class="lead">Честные фиксированные цены<br>Гарантия лучшей цены в Крыму</p>
                <a href="#tf-works" class="scroll goto-btn text-uppercase">Перейти к ценам</a>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div id="tf-advantage">
        <div class="container">
            <div class="section-header">
                <h2>Наши <span class="highlight"><strong>преимущества</strong></span></h2>
            </div>
        </div>
        {% include 'frontend/content/advantage.html.twig' %}
    </div>

    <div id="tf-works">
        <div class="container">
            <div class="section-header">
                <h2>Муждугородние <span class="highlight"><strong>перевозки</strong></span></h2>
                <h5><em>Все цены указаны в рублях</em></h5>
            </div>
        </div>
        {% include 'frontend/content/table-transport-intercity.html.twig' %}
    </div>

    <div id="tf-auto">
        <div class="container">
            <div class="section-header">
                <h2>Заказать <span class="highlight"><strong>автомобиль</strong></span></h2>
                <h5><em>Все цены указаны в рублях</em></h5>
            </div>
        </div>
        {% include 'frontend/content/order-cars.html.twig' %}
    </div>

    <div id="tf-contact">
        <div class="container"> <!-- container -->
            <div class="section-header">
                <h2>Остались вопросы? <span class="highlight"><strong>Свяжитесь с нами!</strong></span></h2>
                <h5><em>Мы проконсультируем вас и поможем выбрать услугу</em></h5>
                {#<div class="fancy"><span><img src="img/favicon.ico" alt="..."></span></div>#}
            </div>
        </div><!-- end container -->
        {% include 'frontend/content/form-contact.html.twig' %}
    </div>
    {{ parent() }}
{% endblock %}



{% block javascript_vendor %}
{{ parent() }}
<script>
    $('a[href="#transport-class-{{ transportClasses[0].nameTranslate }}"]').tab('show')
</script>

{% endblock %}