<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Партнеры</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{{ path('admin.partner') }}" class="btn btn-primary btn-sm ml-1" role="button" title="Список">
            <i class="fas fa-list"></i>
        </a>
        <a href="{{ path('admin.partner.new') }}" class="btn btn-primary btn-sm ml-1" title="Добавить новый">
            <i class="fas fa-plus"></i>
        </a>
    </div>
</div>

{% if errorMessage|default('') != '' %}
    <div class="alert alert-danger" role="alert">
        {{ errorMessage }}

        <a href="{{ path('admin.partner') }}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </a>
    </div>
{% endif %}
