<div id="tf-footer">
    <div class="container"><!-- container -->
        <ul class="list-inline social pull-right">
            <li><a href="#"><i class="fab fa-vk"></i></a></li>
            <li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
        </ul>
    </div>
</div>