<div id="tf-footer">
    <div class="container"><!-- container -->
        <ul class="list-inline social pull-right">
            <li><a href="https://vk.com/krim.rulit"><i class="fab fa-vk"></i></a></li>
            <li><a href="https://www.facebook.com/krim.rulit"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/krim.rulit/"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</div>