<div>
    8 (800) 511 3424
    КРУГЛОСУТОЧНО
</div>

<nav id="tf-menu" class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{{ asset('img/template/logo.jpg') }}">
            </a>
            <span style="
    font-size: 22px;
    line-height: 48px;
    font-weight: bold;
    color: #ffcf22;">
                КРЫМ ТАКСИ РУЛИТ</span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('frontend.main') }}">Главная</a></li>
                <li><a href="#tf-services" class="scroll">Тарифы</a></li>
                <li><a href="#tf-about" class="scroll">Аренда</a></li>
                <li><a href="#tf-works" class="scroll">Автопарк</a></li>
                <li><a href="#tf-process" class="scroll">Отзывы</a></li>
                <li><a href="{{ path('frontend.contact') }}">Контакты</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
