{% extends 'admin/main.html.twig' %}

{% block content %}

{% include('admin/city/include/action.html.twig') %}

<h2>Добавление</h2>
<div class="table-responsive">
    {{ form_start(form) }}
    <div class="box-body">
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
        </div>
        <input class="btn btn-success btn-sm" type="submit" value="Добавить" />
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}
