<h3 size="5">Заказ авто на сайте</h3>

<p><b>Имя: </b>{{ orderCar.name }}</p>
<p><b>Телефон: </b>{{ orderCar.phone }}</p>
<p><b>Автомобиль: </b>{{ orderCar.car.name }}</p>
<p><b>Комментарий: </b>{{ orderCar.text }}</p>

<font size="1" color="#a9a9a9">Автоматическое сообщение</font><br>
<a href="http://krim-rulit-taxi.ru/">krim-rulit-taxi.ru</a>

