<h3 size="5">Новое сообщение на сайте!</h3>

<p><b>Имя: </b>{{ message.name }}</p>
<p><b>Почта: </b>{{ message.email }}</p>
<p><b>Телефон: </b>{{ message.phone }}</p>
<p><b>Текст: </b>{{ message.text }}</p>

<font size="1" color="#a9a9a9">Автоматическое сообщение</font><br>
<a href="http://krim-rulit-taxi.ru/">krim-rulit-taxi.ru</a>

